<div class="input-wrapper">
    <div class="input-institution-wrapper">
        <mat-form-field>
            <mat-label>{{ 'Requests.Institution' | translate }}</mat-label>
            <mat-select [(value)]="inputInstitutionId">
                <mat-option>-</mat-option>
                <mat-option *ngFor="let inst of institutionOptions" [value]="inst">
                    {{ inst }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="input-request-wrapper">
        <mat-form-field>
            <mat-label>
                {{ 'Requests.RequestId' | translate }}
            </mat-label>
            <input matInput (keyup.enter)="onClickRetrieveUserInformation()" placeholder="1//41SLSPABC012345"
                type="text" [(ngModel)]="inputRequestId">
        </mat-form-field>
        <button mat-icon-button (click)="onClickRetrieveUserInformation()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="responseUser" class="table-wrapper">
    <h1>
        <mat-icon color="success" inline=true>check_circle</mat-icon>
        {{ 'Requests.RequestFound' | translate }}
    </h1>
    <table class="table">
        <tr>
            <th scope="row">{{ 'Requests.UserInformation.PrimaryId' | translate }}</th>
            <td>{{responseUser.primary_id}}</td>
        </tr>
        <tr>
            <th scope="row">{{ 'Requests.UserInformation.Email' | translate }}</th>
            <td>{{responseUser.email}}</td>
        </tr>
        <tr>
            <th scope="row">{{ 'Requests.UserInformation.Note' | translate }}</th>
            <td>{{responseUser.note}}</td>
        </tr>
    </table>
</div>

<!-- Failed Request -->
<div class="request-failed" *ngIf="responseErrorId">
    <h1>
        <mat-icon color="warn" inline=true>error</mat-icon>
        {{ responseErrorMessage }}
    </h1>
    <p>
        {{ 'Requests.Support.Contact1' | translate }}
        <a href="https://slsp.ch/en/contact" target="_blank">
            {{ 'Requests.Support.Contact2' | translate }}
        </a>
        {{ 'Requests.Support.Contact3' | translate }}
        <br>
        <br>
        {{ responseErrorId }}
    </p>
</div>