.input-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    align-items: center;

    mat-form-field {
        width: 100%;
    }

    .input-request-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .input-institution-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: #ffffff;
    }

    th,
    td {
        border: 1px solid #000;
        padding: 6px;
        text-align: left;
    }

    th {
        white-space: nowrap;
        padding-right: 1rem;
    }

    td {
        width: 100%;
    }
}

h1 {
    display: flex;
    font-size: 120%;

    .mat-icon {
        margin-right: 4px;
    }
}

.request-failed {
    white-space: pre-line;
}